h2
{
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    text-decoration: underline;
    text-decoration: powderblue;
}

body
{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    text-decoration: solid;
    border-style: solid;
    border: 10px 10px 10px 30px;
    border-radius: 10px;
    border-color: burlywood;

    -webkit-text-stroke: 0.5px black;
    color: white;
    
}

div
{
    text-align:center;
    color:powderblue;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium';
}

form
{
    text-align: center;
    color: powderblue;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium';
}

