body
{
    background-repeat: no-repeat;
    background-size: cover;
}

h1
{
    font-size: 300%;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    text-decoration: underline;
    -webkit-text-stroke: 2px cornflowerblue;
    color:lightblue;

}

#whole, #para, #gif_headpat
{
    -webkit-text-stroke: 1px cornflowerblue;
    color:lightblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    word-spacing: 1px;

    font-size: 120%;
    text-align: center;
    text-decoration: solid;
    border-style: solid;
    border: 10px 10px 10px 10px;
    border-radius: 10px;
    border-color: burlywood;

    max-width: 700px;
    max-height: 600px;
    background-color: lightgray;
    margin: 0 auto;
    padding: 30px;
    
}


#heart_b
{
    height: 25px;
    color: violet;
}
